/*=======Navbar===========*/
.bg-color {
    background: rgb(225, 250, 225);
    color: #000;
}

.nav-link {
    color: #000;
}

.nav-item a {
    font-weight: 500;

}

.nav-item a:hover {
    color: #01b1d7;
    text-decoration: none;
}

.navbar-brand {}

.moon {
    text-decoration: none;
    color: black;
    margin-top: 13px;
    box-shadow: 2px grey;
}
#topbar li a:hover,
#topbar li a.active {
    color: #088178;

}

#topbar li a.active::after,
#topbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*=======End of the Navbar===========*/




/*=======Hero Section===========*/
.slide-1,
.slide-2,
.slide-3 {
    min-height: 80vh;
    clip: path 0;
    ;
}

.slide-1 {
    background: linear-gradient(to right, rgba(2, 79, 99, 0.9),
            rgba(5, 1, 52, 0.5)), url(/assest/homepage/head-namste-3.jpg) center /cover fixed no-repeat;
}

.no-padding {
    padding: 0;
}

/*=======End of the Hero Section===========*/












/*Footer started*/
.footer {
    padding: 70px 20px 15px;

    background-color: black;
    color: white;
}

.footer-logo {
    width: 80px;
    margin-top: 5px;
    margin-bottom: 5x;
    border-radius: 50%;
}

.footer h4 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}

.footer p {
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}

.footer .row .fa {
    padding-right: 20px;
    font-size: 15px;
}

.footer hr {
    margin-top: 10px;
    background: lightgrey;
}

.fa-heart {
    margin: 0 5px;
    color: red;
}

.fa-facebook {
    color: blue;

}

.footer .copyright {
    text-align: center;
}

.fa-youtube {
    color: red;
}

.fa-instagram {
    color: rgb(236, 16, 53);
}

.fa-phone {
    color: green;
}

.fa-envelope {
    color: brown;
}

.fa-home {
    color: cadetblue;
}

/*footer end*/